/*主選單*/
.naver{
    cursor: pointer;
    color: black;
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing: 1px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content:space-around;
    flex-wrap: nowrap;
    padding:5px;
}
.sign img{
    width: 150px;
    height: 80px;
    position:relative;
    top:-5px;
    left:-5px;
}
.sign{
    display: block;
    text-align:center;
}

.product-info-right {
	position: fixed;
	top: 0;
	left: 50%;
	left: 50vw;
	width: 38%;
	width: 38vw;
	padding-left: 16.2vw;
    padding-top: 33vh;
	z-index: 1;
    transition: all 1.25s, opacity .25s 0s;
    /*这个属性仅在 Mac OS/macOS 下生效。
    none：對低畫素的文字比較好
    subpixel-antialiased：預設值
    antialiased：抗鋸齒很好
    */
    -webkit-font-smoothing: antialiased;
}
.product-color,
.product-aroma,
.product-taste {
	font-family: 'Prata', serif;
    height: 8.8vh;
    position: relative;
    display: table;
    padding-top: 2.8vh;
}
.product-color span,
.product-aroma span,
.product-taste span {
	display: table-cell;
	font-size: 1.7vw;
    line-height: 1.7vw;
    padding-right: 0.4vw;
}
.bubble-line-2 {
    margin: 0;
	position: absolute;
    height: 0.8vh;
    background: #1ed1ff;
    width: 3.3vw;
    bottom: 0;
    left: -0.6vw;
    border-radius: 10px;
}
.product-cat-name {
	position: absolute;
    bottom: 0;
    left: -4.6vw;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.6vw;
    text-align: right;
    width: 2.5vw;
    line-height: .8vh;
}
span.d0 {
	transition-delay: 0s;
}

span.d1 {
	transition-delay: .1s;
}

span.d2 {
	transition-delay: .2s;
}
.fp-viewing-2 .bubble-line-2 {
	background: #92d638;
}